@model _16t1021087.DomainModels.Employye
@{
  
}


<div class="box box-primary">
    <div class="box-body box-profile">
        <div class="box-body">
            <form class="form-horizontal" action="~/Employee/Save" method="post" enctype="multipart/form-data">

                @Html.AntiForgeryToken()

                @Html.HiddenFor(m => m.EmployeeID)

             
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Họ:</label>
                    <div class="col-sm-10">

                        @Html.TextBoxFor(m => m.FirstName,
                       new { @class = "form-control", @placehoder = "", @autofocus = "autofocus" })
                        @*<input type="text" class="form-control" autofocus id="EmployeeName" name="FirstName" value="@Model.FirstName">*@
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @style = "color:#f00" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Tên nhân viên:</label>
                    <div class="col-sm-10">

                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                        @*<input type="text" class="form-control" autofocus id="EmployeeName" name="LastName" value="@Model.LastName">*@
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @style = "color:#f00" })
                        @Html.HiddenFor(m => m.BirthDate)
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Ngày sinh:</label>
                    <div class="col-sm-10">
                       @* @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control" })*@
                        <input type="text" class="form-control" id="BirthDate" name="birthday" 
                           value="@string.Format("{0:dd/MM/yyyy}",Model.BirthDate)" placeholder="">

                        @Html.ValidationMessageFor(m => m.BirthDate, "", new { @style = "color:#f00" })

                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Email:</label>
                    <div class="col-sm-10">

                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @* <input type="text" class="form-control" id="Email" name="Email" value="@Model.Email">*@
                        @Html.ValidationMessageFor(m => m.Email, "", new { @style = "color:#f00" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Hình nền:</label>
                    <div class="col-sm-10">


                        <img id="photo" alt="your image" width="100"  
                             src="~/Photo/@Model.Photo" />
                        @Html.HiddenFor(m => m.Photo)
                        
                         <input type="file"
        onchange="document.getElementById('photo').src = window.URL.createObjectURL(this.files[0])"
         name="uploadPhoto">
                         
                        @Html.ValidationMessageFor(m => m.Photo, "", new { @style = "color:#f00" })

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="email" >Ghi chú:</label>
                    <div class="col-sm-10">

                        @Html.TextBoxFor(m => m.Notes, new { @class = "form-control" })
                        @*<textarea class="form-control" rows="7" placeholder="Enter ..." name="Notes">@Model.Notes</textarea>*@
                        @Html.ValidationMessageFor(m => m.Notes, "", new { @style = "color:#f00" })
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Lưu dữ liệu</button>
                        <a href="/Employee" class="btn btn-warning">Quay lại</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <!-- /.box-body -->
</div>
<style>
    .control-label {
        font-weight: bolder;
        font-size: 15px;
        margin-right: -20px;
        color: #3d0455;
    }

    .form-horizontal {
        background-color: #89c7f5;
        margin: -10px;
        padding: 10px;
    }
</style>

