@model _16t1021087.DomainModels.Shipper
@{
    ViewBag.Title = "Xóa người giao hàng";
}

<div class="box box-danger">
    <div class="box-body">
        <form class="form-horizontal" action="~/Shipper/Delete/@Model.ShipperID" method="post">

            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Tên người giao hàng:</label>
                <div class="col-sm-10">

                    @Html.ValueFor(m => m.ShipperName)
                    @*<p class="form-control-startic">@Model.ShipperName</p>*@
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Tên giao dịch:</label>
                <div class="col-sm-10">
                    @Html.ValueFor(m => m.Phone)
                    @*<p class="form-control-startic">@Model.Phone</p>*@
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-danger" ">Xóa dữ liệu</button>
                    <a href="/Shipper" class="btn btn-warning">Quay lại</a>
                </div>
            </div>
        </form>
    </div>
</div>
<style>
    .box-body {
        background-color: #f5caef;
        color: #1a2a92;
    }
</style>




