@model _16t1021087.wed.Models.ShipperSearchOutput

@{
    Layout = null;
}

<p>
    có <strong>@string.Format("{0:N0}", Model.RowCount)</strong>
    người giao hàng trong tổng số <strong> @string.Format("{0:N0}", Model.PageCount)</strong>
    Trang
</p> trang </p>
<div class="tbody">
    <table class=" table table-bordered table-hover table-striped">
        <thead>
            <tr class="bg-primary">
                <th> Tên người giao hàng</th>
                <th> Điện thoại</th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr class="td">
                    <td>@item.ShipperName</td>
                    <td>@item.Phone</td>
                    <td>
                        <a href="~/Shipper/Edit/@item.ShipperID" class="btn btn-sm btn-success">Edit</a>
                        <a href="~/Shipper/Delete/@item.ShipperID" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-center">
        <ul class="pagination">
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                if (i == Model.Page)
                {
                    <li class="active"><a href="#">@i</a></li>
                }
                else
                {
                    <li><a href="javascript:;" onclick="doSearch(@i)">@i</a></li>
                }
            }
        </ul>

    </div>
</div>
<style>
    .bg-primary {
        text-align: center;
    }

    .pagination {
        font-weight: bold;
        background: border-box;
    }

    .td {
        color: #000000;
        background-color: beige;
    }

    .tbody {
        background-color: beige;
    }
</style>
